---
apiVersion: v1
kind: Service
metadata:
  annotations:
    sharpspring.com/service-forwarder: '{"context":"datastores-us-central1","namespace":"anjali-training","service":"mariadb"}'
  name: mariadb
  namespace: {{ namespace }}
  labels:
    role: mariadb
spec:
  ports:
  - port: 3306
    name: mysql
    protocol: TCP
    targetPort: 3306
