---
apiVersion: v1
kind: Service
metadata:
  name: nginx
  namespace: {{ namespace }}
  labels:
    role: nginx
spec:
  loadBalancerSourceRanges:
  - 209.251.145.16/30
  - 34.68.218.96/32
  - 205.207.104.0/24
selector:
    role: nginx
  type: LoadBalancer
  ports:
  - port: 80
    name: http
    protocol: TCP
    targetPort: http
